.navbar {
    background-color: lightgray;
}

.nav-item {
    margin-right: 10px;

}
@media (max-width: 767px) {
    .navbar-nav {
      flex-direction: column;
    }
    .nav-item {
      margin-bottom: 10px;
      text-align: center;
    }
  }

